<div *ngIf="timeoutValue" class="settings">
  <label>Інтервал</label>
  <div class="slider-wrapper">
    <ngx-slider
      [(value)]="timeoutValue"
      [options]="options"
      (valueChange)="sliderValueChanged$.next($event)"
    ></ngx-slider>
  </div>
  <div class="checkbox-wrapper">
    <input
      id="tips"
      type="checkbox"
      [(ngModel)]="tips"
      (ngModelChange)="onChangeTips()"
    />
    <label for="tips">Підказки</label>
  </div>
  <div class="checkbox-wrapper">
    <input
      id="chords"
      type="checkbox"
      [(ngModel)]="chords"
      (ngModelChange)="onChangeChords()"
    />
    <label for="chords">Акорди</label>
  </div>
  <div class="checkbox-wrapper">
    <input
      id="simpleOctave"
      type="checkbox"
      [(ngModel)]="simpleOctave"
      (ngModelChange)="onChangeSimpleOctave()"
    />
    <label for="simpleOctave">Тільки перша/мала октава</label>
  </div>
  <div class="hand-switch">
    <label for="chords">Рука</label>

    <div class="button r" id="button-4">
      <input
        type="checkbox"
        class="checkbox"
        [(ngModel)]="hand"
        (ngModelChange)="onChangeHand()"
      />
      <div class="knobs"></div>
      <div class="layer"></div>
    </div>
  </div>
</div>

<div class="wrapper">
  <img *ngIf="hand" src="./t-clef.png" class="clef t-clef" />
  <img *ngIf="!hand" src="./b-clef.webp" class="clef b-clef" />
  <ul class="lines">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul *ngIf="!chords" class="notes">
    <li
      *ngFor="let note of notes"
      [id]="note.id"
      [class.active]="note.active"
      [class.crossed]="note.showTheLine"
      [class.shifted-up]="simpleOctave && !hand"
      [class.shifted-down]="simpleOctave && hand"
    >
      <span></span>
      <span *ngIf="tips" class="tip">{{ note.legend }}</span>
    </li>
  </ul>
  <ul *ngIf="chords" class="chords">
    <li
      *ngFor="let note of notes"
      [id]="note.id"
      [class.active]="note.active"
      [class.crossed]="note.showTheLine"
      [class.shifted]="note.shift"
      [class.shifted-up]="simpleOctave && !hand"
      [class.shifted-down]="simpleOctave && hand"
    >
      <img *ngIf="note.isSharp" src="./sharp.png" class="sharp">
      <span></span>
      <span *ngIf="tips" class="tip">{{ note.legend }}</span>
    </li>
  </ul>
</div>
