<div *ngIf="timeoutValue" class="settings">
  <label>Інтервал</label>
  <div class="slider-wrapper">
    <ngx-slider
      [(value)]="timeoutValue"
      [options]="intervalSliderOptions"
      (valueChange)="sliderValueChanged$.next($event)"
    ></ngx-slider>
  </div>
  <div class="checkbox-wrapper">
    <input
      id="tips"
      type="checkbox"
      [(ngModel)]="tips"
      (ngModelChange)="onChangeTips()"
    />
    <label for="tips">Підказки</label>
  </div>
  <div class="checkbox-wrapper">
    <input
      id="chords"
      type="checkbox"
      [(ngModel)]="chords"
      (ngModelChange)="onChangeChords()"
    />
    <label for="chords">Акорди</label>
  </div>
  <div class="hand-switch">
    <label for="chords">Рука</label>

    <div class="button r" id="button-4">
      <input
        type="checkbox"
        class="checkbox"
        [(ngModel)]="hand"
        (ngModelChange)="onChangeHand()"
      />
      <div class="knobs"></div>
      <div class="layer"></div>
    </div>
  </div>
  <div *ngIf="midiInputs.length" class="midi-select">
    <label for="midi-input">MIDI</label>

    <ng-select
      id="midi-input"
      [items]="midiInputs"
      bindLabel="name"
      bindValue="name"
      [(ngModel)]="currentMidiInputName"
      (ngModelChange)="onChangeMidiInput()"
    >
    </ng-select>
  </div>
  <button *ngIf="!midiInputs.length" (click)="initMIDI()">Сканувати MIDI</button>
</div>

<div class="wrapper">
  <div class="notes-selector">
    <ngx-slider
      [(value)]="floorNote"
      [(highValue)]="ceilNote"
      [options]="octaveSliderOptions"
      (valueChange)="noteRangeValueChanged$.next($event)"
      (highValueChange)="noteRangeValueChanged$.next($event)"
      [manualRefresh]="manualRefresh"
    ></ngx-slider>
  </div>
  <img *ngIf="hand" src="./t-clef.png" class="clef t-clef" />
  <img *ngIf="!hand" src="./b-clef.webp" class="clef b-clef" />
  <ul class="lines">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class="notes">
    <li
      *ngFor="let note of layout"
      [id]="note.id"
      [class.active]="note.active"
      [class.crossed]="note.showTheLine"
      [class.shifted]="note.shift"
      [class.highlight]="note.highlight"
    >
      <img *ngIf="note.isSharp" src="./sharp.png" class="sharp" />
      <span></span>
      <span *ngIf="tips" class="tip"
        >{{ note.legend }}{{ note.isSharp ? "#" : "" }}</span
      >
    </li>
  </ul>
</div>
