ul {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul.lines {
    position: absolute;
}

ul.lines li {
    margin: 6px 0;
    width: 100%;
}

ul.lines li::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 1px;
}

ul.notes {
    padding-left: 60px;
    position: absolute;
    z-index: 1;
    transform: translateY(-3px);

    li {
        margin: 3px 0;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;

        img.sharp {
            width: 30px;
            object-fit: contain;
            position: absolute;
            margin-left: 15px;
        }

        &.shifted {
            margin-left: -19px;

            span.tip {
                margin-left: 20px;
            }
        }
    }

    li.crossed::before {
        position: absolute;
        background-color: black;
        width: 28px;
        height: 1px;
        margin-left: 55px;
    }

    li span {
        margin-left: 60px;
        position: absolute;
        display: none;
        margin-top: 1px;
    }

    li span:not(.tip) {
        background-image: url("../../public/1-1-note.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 18px;
        height: 12px;
    }

    li span.tip {
        font-size: 14px;
        font-weight: bold;
        color: red;
        margin-left: 85px;
    }

    li.crossed:before {
        content: "";
    }

    li.active span {
        display: block;
    }

    li.shifted-up {
        transform: translateY(-15px);
    }

    li.shifted-down {
        transform: translateY(15px);
    }

    // div {
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     width: 100%;

    //     &:after {
    //         content: "";
    //         position: absolute;
    //         background-color: black;
    //         width: 100%;
    //         height: 1px;
    //         top: 0px;
    //     }
    // }
}

ul li::marker {
    content: none;
    display: none;
}

.wrapper {
    padding-left: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    position: relative;

    img.clef {
        margin-left: 45px;
        width: 35px;
        position: absolute;

        &.t-clef {
            margin-bottom: 3px;
        }

        &.b-clef {
            margin-bottom: 8px;
        }
    }
}

.settings {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;

    input,
    label {
        cursor: pointer;
    }
}

.slider-wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hand-switch {
    margin-top: 20px;
    height: 36px;
    position: relative;
    display: flex;
    align-items: center;

    label {
        margin-right: 10px;
    }

    .knobs,
    .layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .button {
        position: relative;
        width: 74px;
        height: 36px;
        overflow: hidden;
    }

    .button.r,
    .button.r .layer {
        border-radius: 100px;
    }

    .checkbox {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .knobs {
        z-index: 2;
    }

    .layer {
        width: 100%;
        background-color: #ebf7fc;
        transition: 0.3s ease all;
        z-index: 1;
    }

    #button-4 .knobs:before,
    #button-4 .knobs:after {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 20px;
        height: 10px;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
        padding: 9px 4px;
        background-color: #03a9f4;
        border-radius: 50%;
        transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }

    #button-4 .knobs:before {
        content: "Л";
    }

    #button-4 .knobs:after {
        content: "П";
    }

    #button-4 .knobs:after {
        top: -28px;
        right: 4px;
        left: auto;
        background-color: #f44336;
    }

    #button-4 .checkbox:checked + .knobs:before {
        top: -28px;
    }

    #button-4 .checkbox:checked + .knobs:after {
        top: 4px;
    }

    #button-4 .checkbox:checked ~ .layer {
        background-color: #fcebeb;
    }
}

::ng-deep {
    .notes-selector {
        height: 168px;
        width: 45px;
        z-index: 2;

        .ngx-slider {
            .ngx-slider-pointer {
                width: 20px;
                height: 6px;
                background-color: #5c7377;
                border-radius: 1px 2px 2px 1px;
                transform: translate(13px, -2px) !important;
                box-shadow: none !important;
                outline: none !important;

                &.ngx-slider-active {
                    z-index: 2;
                }
                &::after {
                    width: 0;
                    height: 0;
                    border-top: 3px solid transparent;
                    border-bottom: 3px solid transparent;

                    border-left: 5px solid #5c7377;

                    border-radius: 0;

                    top: 0;
                    right: -4px;
                    left: unset !important;
                    background-color: transparent !important;
                }
            }

            &.vertical {
                .ngx-slider-bubble {
                    right: 16px !important;
                    left: unset !important;
                }
            }

            .ngx-slider-tick {
                margin-top: 0 !important;
                height: 2px;
            }
        }
    }
}
